@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);html {
  background: #516673;
}

.dropdown-menu {
  padding-bottom: 5px;
}

#logout-form input {
  display: block;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  border: none;
  padding: 9px 20px;
  width: 100%;
  background: #fff;
}

#logout-form input:hover {
  color: #262626;
  background-color: #f5f5f5;
}

.currency-selector {
  font-size: 30px;
  font-weight: 300;
  height: auto;
}

i.fa.negative:before {
  content: "\F103";
}

a.logo i.fa-bitcoin:before {
  padding: 10px 16px 10px 16px;
  display: block;
  font-size: 40px;
}

#money-icon {
  color: #fff;
}

.sidebar .sidebar-nav.navbar-collapse {
  border: none;
}

