@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.dropdown-menu {
  padding-bottom: 5px;
}

#logout-form input {
  display: block;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  border: none;
  padding: 9px 20px;
  width: 100%;
  background: #fff;
}

#logout-form input:hover {
  color: #262626;
  background-color: #f5f5f5;
}

